pkgbase = xray-geoip
	pkgdesc = GeoIP List for Xray
	pkgver = 202404250042
	pkgrel = 1
	url = https://github.com/v2fly/geoip
	arch = any
	license = CCPL:by-sa
	source = geoip-202404250042.dat::https://github.com/v2fly/geoip/releases/download/202404250042/geoip.dat
	source = https://github.com/v2fly/geoip/raw/master/LICENSE
	sha256sums = 8ad42be541dfa7c2e548ba94b6dcb3fe431a105ba14d3907299316a036723760
	sha256sums = 5e436ff8ffbb77d8607220e9bce20c8915d860010feeb6c1ebef5a85688e9b39

pkgname = xray-geoip
